* {
	margin: 0;
	padding: 0;
}

html,
body,
#app,
.wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
	text-decoration: none
}

/* common.css */
.fr {
	float: right;
}

.fl {
	float: left;
}
.red{
  color: red;
}
.mr10{
	margin-right: 10px;
}
.mgb20 {
	margin-bottom: 20px;
}
.wid320 {
	width: 320px;
}
.wid320 .el-select {
	width: 220px;
}

.content-box {
	position: absolute;
	left: 200px;
	right: 0;
	top: 70px;
	bottom: 0;
	padding-bottom: 30px;
	-webkit-transition: left .3s ease-in-out;
	transition: left .3s ease-in-out;
	background: #f0f0f0;
}

.content {
	width: auto;
	height: 100%;
	padding: 10px;
	overflow-y: scroll;
	box-sizing: border-box;
}

.content-collapse {
	left: 50px;
}

.container {
	padding: 30px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.crumbs {
	margin: 10px 0;
}

.el-table th {
	background-color: #f5f7fa !important;
}

.pagination {
	margin: 20px 0;
	text-align: right;
}

.plugins-tips {
	padding: 20px 10px;
	margin-bottom: 20px;
}

.el-button+.el-tooltip {
	margin-left: 10px;
}

.el-table tr:hover {
	background: #f6faff;
}


.move-enter-active,
.move-leave-active {
	transition: opacity .5s;
}

.move-enter,
.move-leave {
	opacity: 0;
}